<body>
    <!-- update the header -->
    <h1>Edit <%= band.name %></h1>
    <form action="/bands/<%=band._id%>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= band.name %>" />
  
    <div class="checkbox-div">

      <label for="isStillActive">Is still active?</label>
      <input type="checkbox" name="isStillActive" id="isStillActive" <% if (band.isStillActive) { %>checked<% } %> />
    
    </div>
    
      <!-- update the button text -->
      <button type="submit">Update Band</button>
    </form>

    <div class="index-link-text">

        <a href="/bands">Back to Bands</a>

    </div>

  </body>