<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Create a Band</title>
  </head>
  <body>
    <h1>Create a New Band!</h1>
    <form action="/bands" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      
    <div class="checkbox-div">

      <label for="isStillActive">Is still active?</label>
      <input type="checkbox" name="isStillActive" id="isStillActive" />

    </div>
  
      <button type="submit">Add Band</button>

      <a href="/bands/">Back to Bands</a>
    </form>
  </body>
</html>