<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Band</title>
  </head>
  <body>
    <h1>Create a New Band!</h1>
    <form action="/bands" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isStillActive">Is still active?</label>
      <input type="checkbox" name="isStillActive" id="isStillActive" />
  
      <button type="submit">Add Band</button>
    </form>
  </body>
</html>